/* src/components/puzzle_test/Puzzle.css */

.puzzle-container {
    z-index: 9999;
    position: relative;
    visibility: visible !important;
    display: flex !important; /* Força o flex caso algo o oculte */
    /*display: flex;*/
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    background: #68ddbd;
    border-radius: 12px;
    align-items: flex-start;
}

.puzzle-board {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(5, 80px);
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #000;
}

/* Imagem Guia (Dica Visual) */
.puzzle-guide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 400px 400px;
    opacity: 0.2; /* Se estiver muito escuro, aumente para 0.2 */
    pointer-events: none;
    z-index: 0;
}

.puzzle-slot {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(255,255,255,0.05);
    position: relative;
    z-index: 1; /* Fica por cima da guia */
}

/* INVENTÁRIO CORRIGIDO */
.puzzle-inventory {
    width: 185px; /* Ajustado para 2 colunas + scrollbar */
    height: 400px; 
    background: #03bb85;
    display: grid;
    grid-template-columns: repeat(2, 80px);
    grid-auto-rows: 80px;
    gap: 10px;
    padding: 10px;
    overflow-y: auto; /* Ativa o scroll vertical */
    border: 2px solid #005227;
}

.inventory-item-container {
    width: 80px;
    height: 80px;
}

.puzzle-piece {
    width: 80px;
    height: 80px;
    background-size: 400px 400px;
}

/* Animações */
.piece-success {
    animation: success-pop 0.4s ease-out forwards;
}

@keyframes success-pop {
    0% { transform: scale(1.3); filter: brightness(2); }
    100% { transform: scale(1); filter: brightness(1); }
}

.puzzle-fade-out {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.8s ease;
}